{% extends 'base.html' %}

{% block title %}All Orders{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-5">Your Orders</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Order Id</th>
                                <th scope="col">Products</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Display list of orders for current user -->
                            {% for order in orders %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td class="rust">{{ order.order_id }}</td>
                                <td>
                                    <!-- List items found in each order -->
                                    {% for item in order.items.all %}
                                    {{ item }}
                                    <br>
                                    {% endfor %}
                                </td>
                                <td><span class="badge badge-primary">Processing Your Order</span></td>
                            </tr>
                            {% empty %}
                            <!-- No orders found -->
                            <tr>
                                <td class="text-center" colspan="4">No orders found!</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 my-3 text-center">
            <a href="/" class="btn rust-button">Back to Home</a>
        </div>
    </div>
</div>
{% endblock %}