/* Anchor Styles */

a:hover {
    text-decoration: none;
}

/* Jumbotron Styles */

.jumbotron {
    height: 66vh;
}

.main-jumbo {
    background: url("../images/hero.jpg") center/cover no-repeat;
}

.shop-jumbo {
    background: url("../images/cat-hero.png") center/cover no-repeat;
}

/* Footer Styles */

footer {
    background-color: #111111;
    color: white;
}

/* Icon Styles */

.fa-8x {
    color: #ce422b;
}

.icon-heading {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.fa-facebook {
    color: #385898;
}

.fa-twitch {
    color: #a970ff;
}

.fa-steam {
    color: #d8d8d8;
}

/* Featured Category Styles */

.category {
    position: relative;
    text-align: center;
    background: #fafafa;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.category-heading {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background: rgba(235, 235, 235, 0.75);
    color: #ce422b;
}

.category img {
    width: 50%;
}

/* Product Page Styles */

.item-img {
    background: #c5c5c5;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.item-img img {
    width: 75%;
}

/* Media Queries */

@media screen and (max-width: 800px), screen and (max-height: 1400px) {
    .jumbotron {
        background-position: left top;
    }
}