/* Font Import */

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&display=swap');

/* Font Declarations */

body, p, span, label {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, .icon-heading {
    font-family: 'Bebas Neue', cursive;
}

/* Colours */

.rust {
    color: #ce422b;
}

.rust-button {
    color: white;
    background-color: #ce422b;
}

/* Anchor Styles */

a:hover {
    text-decoration: none;
}

.page-item.active .page-link{
    background-color: #ce422b;
    border-color: #ce422b;
}

.page-item.active .page-link:hover {
    background-color: #9b2b19;
    border-color: #9b2b19;
}

.page-link:hover {
    color: #9b2b19;
}

/* Jumbotron Styles */

.jumbotron {
    height: 66vh;
}

.main-jumbo {
    background: url("../images/hero.jpg") center/cover no-repeat;
}

.shop-jumbo {
    background: url("../images/cat-hero.png") center/cover no-repeat;
}

.login-jumbo {
    background: url("../images/login-hero.png") center/cover no-repeat;
}

/* Footer Styles */

footer {
    background-color: #111111;
    color: white;
}

/* Icon Styles */

.icon-heading {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.fa-facebook {
    color: #385898;
}

.fa-twitch {
    color: #a970ff;
}

.fa-steam {
    color: #d8d8d8;
}

/* Featured Category Styles */

.category {
    position: relative;
    text-align: center;
    background: #fafafa;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.category-heading {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background: rgba(235, 235, 235, 0.75);
    color: #ce422b;
}

.category img {
    width: 50%;
}

/* Image Styles */

.item-img, .detail-img {
    background: #c5c5c5;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.item-img:hover:not(.cart-img-wrapper) {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.cart-img-wrapper {
    width: 33%;
}

/* Form Styles */

.form-control:focus {
    border-color: #ce422b;
    box-shadow: 0 0 0 .2rem rgba(206, 66, 43, .25);
}

/* Button Styles */

.remove-button {
    position: absolute;
    top: 34%;
    left: 79%;
}

.remove-button .fa-circle {
    color: red;
}

.rust-button:hover {
    color: white;
    background-color: #a13423;
}

/* Required Asterisk Removal */

.asteriskField {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    .main-jumbo, .shop-jumbo {
        background-position: left top;
    }

    .login-jumbo {
        background-position: right center;
    }

    .cart-img-wrapper {
        width: 75%;
    }
}