{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid login-jumbo">
</div>
<div class="container">
    <h1 class="my-5">Log In</h1>
    <div class="row justify-content-center">
        <div class="col-6 mb-5">
            <p class="text-center">Please login to use and view your cart.</p>
            <p class="text-center">Don't have an account yet? Register <a href="{% url 'signup' %}">here.</a></p>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}