<div class="container">
    <div class="row">
        <!-- Credit to myself -->
        <div class="col-6 align-self-center">
            <i class="far fa-copyright"></i> Rust Fiends 2020
        </div>
        <div class="col-6 text-right fa-2x align-self-center">
            <!-- Social Media Link -->
            <a href="https://www.facebook.com/facepunchrust" rel="noopener" target="_blank">
                <span class="fa-layers">
                    <i class="fas fa-circle"></i>
                    <i class="fab fa-facebook-f" data-fa-transform="shrink-4 down-1.6" style="color: white"></i>
                </span>
            </a>
            <!-- Twitch Link to streamers -->
            <a href="https://www.twitch.tv/directory/game/Rust" rel="noopener" target="_blank">
                <span class="fa-layers">
                    <i class="fas fa-square" data-fa-transform="shrink-5 up-1 left-0.4" style="color: white;"></i>
                    <i class="fas fa-square" data-fa-transform="shrink-6 up-2 right-2" style="color: white"></i>
                    <i class="fas fa-square" data-fa-transform="shrink-10 down-2" style="color: white"></i>
                    <i class="fab fa-twitch"></i>
                </span>
            </a>
            <!-- Steam link for prospective buyers -->
            <a href="https://store.steampowered.com/app/252490/Rust/" rel="noopener" target="_blank">
                <i class="fab fa-steam fa-inverse"></i>
            </a>
        </div>
    </div>
</div>