<footer class="mt-5 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 align-self-center">
                <i class="far fa-copyright"></i> Rust Fiends 2020
            </div>
            <div class="col-md-4 text-right fa-2x align-self-center">
                <a href="https://www.facebook.com/facepunchrust" rel="noopener" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.twitch.tv/directory/game/Rust" rel="noopener" target="_blank">
                    <span class="fa-layers">
                        <i class="fas fa-square" data-fa-transform="shrink-5 up-1 left-0.4" style="color: white;"></i>
                        <i class="fas fa-square" data-fa-transform="shrink-6 up-2 right-2" style="color: white"></i>
                        <i class="fas fa-square" data-fa-transform="shrink-10 down-2" style="color: white"></i>
                        <i class="fab fa-twitch"></i>
                    </span>
                </a>
                <a href="https://store.steampowered.com/app/252490/Rust/" rel="noopener" target="_blank"><i
                        class="fab fa-steam"></i></a>
            </div>
        </div>
    </div>
</footer>