<nav aria-label="{{ category.title }} entries pages">
    <ul class="pagination justify-content-center">
        <!-- Show first page and previous page links if available -->
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link rust" href="?page=1{% if order %}&order={{ order }}{% endif %}{% if q %}&q={{ q }}{% endif %}">First</a></li>
        <li class="page-item"><a class="page-link rust" href="?page={{ page_obj.previous_page_number }}{% if order %}&order={{ order }}{% endif %}{% if q %}&q={{ q }}{% endif %}">Previous</a></li>
        {% endif %}
        <!-- Get 3 previous and 3 next pages -->
        {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link rust" href="?page={{ num }}{% if order %}&order={{ order }}{% endif %}{% if q %}&q={{ q }}{% endif %}">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link rust" href="?page={{ num }}{% if order %}&order={{ order }}{% endif %}{% if q %}&q={{ q }}{% endif %}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        <!-- Show next and last page links if available -->
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link rust" href="?page={{ page_obj.next_page_number }}{% if order %}&order={{ order }}{% endif %}{% if q %}&q={{ q }}{% endif %}">Next</a></li>
        <li class="page-item"><a class="page-link rust" href="?page={{ paginator.num_pages }}{% if order %}&order={{ order }}{% endif %}{% if q %}&q={{ q }}{% endif %}">Last</a></li>
        {% endif %}
    </ul>
</nav>